.heading{
    font-size: 19px;
    width: 100%;
    margin: 0px;
    line-height: 2;
}
body{
    background-size: cover;
}
#instructions{
    font-size: 15px;
    color: rgb(3, 134, 151);
}
#stop{
    margin-top: 20px;
    background-color: bisque;
    width: 130px;
    height: 50px;
    border: blanchedalmond;
    border-radius: 20px;
}

#play_button{
    margin-top: 20px;
    background-color: bisque;
    width: 130px;
    height: 50px;
    border: blanchedalmond;
    border-radius: 20px;
}

#status{
    margin-top: 20px;
    background-color: bisque;
    width: 130px;
    height: 50px;
    border: blanchedalmond;
    border-radius: 20px;
}

canvas{
    border: 2px solid black;
}